body {
font-family: Arial;
}

h1 {
text-align: center;
}

.named {
background-color: red;
padding: 20px;
margin: 10px;
}

.hex {
background-color: #3498db;
padding: 20px;
margin: 10px;
}

.rgb {
background-color: rgb(46, 204, 113);
padding: 20px;
margin: 10px;
}

.rgba {
background-color: rgba(155, 89, 182, 0.5);
padding: 20px;
margin: 10px;
}

.opacity-box {
background-color: blue;
opacity: 0.5;
padding: 20px;
margin: 10px;
}

.rgba-box {
background-color: rgba(0, 0, 255, 0.5);
padding: 20px;
margin: 10px;
}
